.container{
    position: relative;
    background-color: darkcyan;
    width: 30%;
    height: 500px;
    margin: auto;
}
form{
    text-align: center;
}

input{
    display: block;
    text-align: center;
    margin: auto;
}

body{
    background-color:white;
}
h1{
    color: white;
    text-align: center;
}
#btn{
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: large;
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 40%;
}
#output{
    text-align: center;
}